
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .banner {
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
  
  .card img {
    height: 350px;
    object-fit: cover;
  }
  